doctype html
html
  head
    title Elasticnote
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='style/app.css')
    script(src='js/bundle.js')
  body(ng-app='Elasticnote')
    header
    #wrapper
      eln-index
      eln-show
    footer
